
.changeNavColor {
  text-decoration: none !important;
  color: white !important;
  margin: 5px;
}
.changeNavButtonColor {
  color: white !important;
  margin: 10px;
}

.mapTitle{
  position: absolute;
  z-index: 2;
  top: 1rem;
  left: 1rem;
  color: white;
  background: grey;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
}
.mapDetailTitle{
  position: absolute;
  z-index: 2;
  top: 6rem;
  left: 2rem;
  color: white;
  background: grey;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
}